
/* extra Small devices (phones, 576px and up) */
@media(max-width:576px){
    .navbar-light .navbar-nav .nav-link {
        padding: 0px;
    }
    .nav-contact-btn button {
        display: none;
    }
    .banner-text {
        padding-top:0px;
    }
    .banner-text h1 {
        font-weight: 600;
        font-size: 25px;
    }
    .banner-area {
        padding: 50px 0px;
    }
    .portfolio-menu {
        width: 100%;
    }
    .portfolio-menu ul {
        padding-right:0px;
    }
    .portfolio-menu ul li a {
    font-size: 16px;

    }
    .portfolio-menu ul {
        flex-direction: column;
    }
    .services-title {
        width: 300px;
    }
    .portfolio-title {
        width: 300px;
    }

    .portfolio-menu ul {
        align-items: center;
        background: rgba(89, 86, 232, 0.05);
        border-radius: 10px;
        padding-right: 30px;
    }
    .portfolio-menu ul li a {
        padding: 10px 0px;
    }
    
    .team-title {
        width: 300px;
    }
    .team-title h4{
        font-size: 25px;
        padding-bottom: 0;
        font-weight: 600;
    }
    .client-title {
        width: 300px;

    }
    .client-title h4 {
        padding-bottom: 0px;
        font-size: 25px;
        font-weight: 600;
    }
    .news-title {
        width: 300px;
    }
    .banner-img{
        text-align: center;
    }
    .banner-img img{
       width: 50%;
    }
    .services-area {
        padding: 50px 0px;
    }
    .services-area h3{
        font-size: 25px;
        font-weight: 600;
    }
    .portfolio-title h3 {
        font-size: 25px;
        font-weight: 600;
    }
    .portfolio-menu ul li a {
        padding: 0px 0px;
    }
    .footer-logo-site{
        text-align: center;
    }
    .company-item{
        text-align: center;
    }
    .footer-logo-site ul {
       justify-content: center;
    }
}
/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 0px;
    }
    .banner-text {
        padding-top: 0px;
    }
    .banner-text h1 {
        font-size: 30px;
    }
    .services-area {
        padding: 75px 0px;
    }
    .services-title{
        padding-bottom: 20px;
    }
    .portfolio-menu {
        width: 100%;
    }
    .portfolio-menu {
        height: auto;
    }
    .portfolio-menu ul {
        flex-direction: column;
        padding-bottom: 2px;
    }
    .portfolio-menu ul li a {
        padding: 10px 0px;
    }
    .banner-img img{
        width: 50%;
     }
     .footer-logo-site{
        text-align: center;
    }
    .company-item{
        text-align: center;
    }
    .footer-logo-site ul {
       justify-content: center;
    }
 }


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .navbar-light .navbar-nav .nav-link {
        padding: 0px;
    }
    .banner-text {
        padding-top:0px;
    }
    .banner-text h1 {
        font-weight: 600;
        font-size: 25px;
    }
    .banner-area {
        padding: 75px 0px;
    }
    .portfolio-menu {
        width: 100%;
    }
}


 /* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .banner-text {
        padding-top: 0px;
        
    }
    .banner-text h1{
        font-size: 40px;

    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}